<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto.Properties.Settings.bdCondominioConnectionString"
            connectionString="Data Source=ALEXANDRE-PC\SQLEXPRESS;Initial Catalog=bdCondominio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projeto.Properties.Settings.bdCondominioConnectionString1"
            connectionString="Data Source=ALEXANDRE-PC\SQLEXPRESS;Initial Catalog=bdCondominio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projeto.Properties.Settings.bdCondominioConnectionString2"
            connectionString="Data Source=ALEXANDRE-PC\SQLEXPRESS;Initial Catalog=bdCondominio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projeto.Properties.Settings.bdCondominioConnectionString3"
            connectionString="Data Source=ALEXANDRE-PC\SQLEXPRESS;Initial Catalog=bdCondominio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>